.section-five {
    display: grid;
    position: relative;
    justify-content: center;
}
.section-five::before {
    position: absolute;
    width: 30px;
    top: 0;
    bottom: 40%;
    content: "";
    background-color: #444;
}
.section-five__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 100px 60px;
    padding: 100px;
}
.content__title {
    grid-column: 1/3;
    font-size: 44px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.content__desc {
    max-width: 170px;
    font-size: 14px;
}
.item {
    display: grid;
    grid-row: 2;
}
.item__circle {
    --size: 20vw;
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 30px;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    text-align: center;
    color: white;
    background-color: #333;
}
.item__invert .item__circle,
.item__invert .item__text::before {
    background-color: #fff;
    outline: 2px solid #444;
    color: #444;
    outline-offset: -2px;
}
.item__text {
    display: flex;
    max-width: 250px;
    margin-top: 60px;
    font-size: 13px;
}
.item__text::before {
    --size: 20px;
    content: "";
    display: inline-block;
    min-width: var(--size);
    height: var(--size);
    margin-right: var(--size);
    background-color: #444;
}
.item__title span {
    display: block;
}
.item__title {
    font-size: 30px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: left;
}
.item__circle .item__label {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.item__circle .item__desc {
    font-size: 13px;
    margin-top: 16px;
    letter-spacing: 1px;
}
.num {
    font-size: 40px;
    letter-spacing: 8px;
}
@media (max-width: 1200px) {
    .section-five {
        display: none;
    }
}
